<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.komorebi.pepper">

    <uses-permission android:name="android.permission.INTERNET" />



    <!--android:name="org.litepal.LitePalApplication"-->
    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">
        <activity
            android:name=".ui.activity.LoginActivity"
            android:theme="@style/MyLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ClassMatesActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.activity.MainActivity" />
        <activity android:name=".ui.activity.BugFeedbackActivity" />
        <activity android:name=".ui.activity.TeamActivity" />
        <activity android:name=".ui.activity.SettingActivity" />
        <activity android:name=".ui.activity.MapActivity" />
        <activity android:name=".ui.activity.CourseActivity" />
        <activity android:name=".ui.activity.CreditActivity" />
        <activity android:name=".ui.activity.RepairActivity" />
        <activity android:name=".ui.activity.ExamActivity" />
        <activity android:name=".ui.activity.ECardActivity" />
        <activity android:name=".ui.activity.CETActivity" />
        <activity android:name=".ui.activity.ExamScoreActivity" />
        <activity android:name=".ui.activity.ExperimentActivity" />
    </application>

</manifest>